<div id="comment-<%= comment.id %>">
  <div class="card card-side border-dashed border-2 border-rose-100 mt-4">
    <div class="flex items-center">
      <%= image_tag(comment.user.avatar_url, class: "rounded-full w-20 h-20 ml-4 my-2") if comment.user.avatar_url.present? %>
    </div>
    <div class="card-body">
      <h3 class="card-title underline decoration-rose-200 decoration-dotted">
        <%= link_to items_path(user_id: comment.user.id), class: "btn-ghost rounded-full p-2" do %>
        <%= comment.user.name %>
        <% end %>
      </h3>
      <p class="text-xs"><%= safe_join(comment.body.split("\n"),tag(:br)) %></p>
    </div>
  </div>
</div>