<div id="board-id-<%= board.id %>">
  <!-- swapをラベルとして使う -->
  <label class="swap swap-flip text-lg w-full h-full max-w-xs">
    <!-- チェックボックスが状態を制御 -->
    <input type="checkbox" class="hidden" />

    <!-- 裏面 (swap-on) -->
    <div class="swap-on card bg-yellow-50 w-full h-full max-w-xs shadow-xl flex flex-col">
      <div class="card-body overflow-y-auto">
        <%= link_to items_path(user_id: board.user.id), class: "block btn btn-ghost" do %>
          <div class="flex">
            <div class="w-10 rounded-full">
              <%= image_tag board.user.avatar_url, class: "w-10 rounded-full" %>
            </div>
            <h2 class="text-lg font-bold text-base sm:text-lg md:text-xl lg:text-2xl border-pink-200 border-b-2 mb-4">
              <%= board.user.name %> さんのアイテム
            </h2>
          </div>
        <% end %>
        <% if board.user.user_items.any? %>
          <!-- グリッド: アイテムがある場合 -->
          <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 justify-items-center mt-4">
            <% board.user.items.each do |item| %>
              <div class="rounded-lg shadow-xl">
                <%= image_tag item.image, class: 'badge-image rounded-lg shadow', size: '150x150' %>
              </div>
            <% end %>
          </div>
        <% else %>
          <!-- 中央揃え: アイテムがない場合 -->
          <div class="flex items-center justify-center h-24">
            <p class="text-sm text-gray-500">取得アイテムはありません。</p>
          </div>
        <% end %>
      </div>
    </div>


    <!-- 表面 (swap-off) -->
    <div class="swap-off card bg-yellow-50 w-full h-full max-w-xs shadow-xl overflow-hidden flex flex-col hover:shadow-yellow-200">
      <figure class="w-full rounded-t-lg object-contain">
        <%= image_tag board.board_image.url , class: "rounded-xl object-cover" if board.board_image.present? %>
      </figure>
      <div class="card-body flex flex-col justify-between">
        <h2 class="card-title">Dear, <%= board.title %></h2>
        <p class="text-sm text-gray-500 truncate"><%= board.body %></p>
        <p class="text-sm text-gray-500 truncate"><%= render board.tags %></p>
      </div>
      <div class="card-actions justify-end p-4">
        <%= link_to "詳細", board_path(board), class: "btn btn-secondary text-gray-900" %>
      </div>
    </div>
  </label>
</div>
