<% content_for(:title, @board.title) %>
<div class="container mx-auto w-full min-h-screen grid place-items-center bg-yellow-50">
  <div class="min-h-screen grid place-items-center bg-yellow-50 py-12">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-5 mb-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.title') %></h2>
    </div>
    <div class="mt-4">
      <%= render 'shared/search_board_form', search_form: @search_form %>
    </div>

    <div class="card bg-base-100 w-full max-w-sm shadow-xl mt-8" style="background-color: rgba(254, 249, 195, 0.3);">
      <figure>
        <%= image_tag @board.board_image.url if @board.board_image.present? %>
      </figure>
      <div class="card-body">
        <h2 class="card-title">Dear, <%= @board.title %></h2>
        <p class="text-gray-500"><%= @board.body %></p>
        <p class="text-gray-500"><%= render @board.tags %></p>
        <ul class="py-4 mt-2 text-gray-700 flex items-center justify-around">
          <% if current_user && current_user.own?(@board) %>
            <div class="flex space-x-4">
              <%= link_to edit_board_path(@board), id: "button-edit-#{@board.id}", class: "p-2 rounded hover:bg-sky-50" do %>
                <svg version="1.1" id="_x31_0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 30px; height: 30px; opacity: 1;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:#374149;}
                </style>
                <g>
                  <path class="st0" d="M453.394,226.605v-0.226l-61.477,61.477v160.535c0,0.766-0.847,1.614-1.613,1.614H222.746L62.75,449.852
                    l-0.352-0.156c-0.305-0.078-0.614-0.387-0.922-1.305V121.176c0-0.847,0.77-1.613,1.613-1.613h162.684l35.969-35.969l25.508-25.348
                    h-0.161l0.161-0.16H63.09C28.282,58.086,0,86.364,0,121.176v327.215c0,15.211,5.535,29.969,15.371,41.11
                    c0.77,0.926,1.703,1.691,2.527,2.562c0.461,0.484,0.93,0.957,1.394,1.41c0.809,0.786,1.508,1.68,2.375,2.406
                    c11.453,10.066,26.133,15.602,41.422,15.602h327.215c34.809,0,63.09-28.281,63.09-63.09V318.422l0.114-91.93L453.394,226.605z" style="fill: rgb(58, 171, 210);"></path>
                  <path class="st0" d="M505.711,84.672L427.855,6.812c-4.062-4.058-9.402-6.297-15.027-6.293c-5.332-0.004-10.309,2.039-14.011,5.742
                    L153.25,251.828l-41.231,132.054c-1.453,4.645-0.152,9.715,3.375,13.246c2.523,2.527,5.942,3.973,9.39,3.973
                    c1.305,0,2.602-0.199,3.864-0.59l132.054-41.234L506.27,113.715C514.125,105.86,513.871,92.832,505.711,84.672z M269.23,310.567
                    c-1.469-4.18-3.73-8.055-6.66-11.348l168.629-168.625l9.051,9.05L320.871,259.024L269.23,310.567z M246.539,333.356l-0.946,0.946
                    l-79.058,24.683l-12.988-12.992l24.683-79.058l0.946-0.942l10.878-0.57c2.883-0.152,5.602,0.886,7.645,2.93
                    c2.039,2.039,3.078,4.754,2.926,7.641c-0.5,9.656,3.126,19.11,9.965,25.942c6.836,6.839,16.294,10.469,25.946,9.969
                    c2.882-0.157,5.598,0.894,7.649,2.945c2.034,2.031,3.074,4.742,2.926,7.625L246.539,333.356z M201.938,243.227l170.946-170.95
                    l9.054,9.055L213.313,249.953c-2.852-2.527-6.176-4.442-9.703-5.898C203.039,243.793,202.523,243.469,201.938,243.227z
                    M235.278,287.828c-2.887,0.148-5.602-0.891-7.645-2.938c-2.039-2.039-3.078-4.754-2.93-7.641
                    c0.207-3.977-0.293-7.953-1.457-11.758l171.43-171.426l23.781,23.785l-171.43,171.426
                    C243.23,288.113,239.25,287.613,235.278,287.828z M385.625,59.543l27.438-27.441l67.363,67.367l-27.438,27.437L385.625,59.543z" style="fill: rgb(58, 171, 210);"></path>
                </g>
                </svg>
              <% end %>
            </div>
          <% end %>
        </ul>
        <!-- Xシェアボタン -->
        <div class="card-actions justify-center">
          <% twitter_share_url = "https://twitter.com/intent/tweet?url=#{request.url}&text=#{CGI.escape(@board.title)}、いつもありがとう💖%0A%0A&hashtags=#{CGI.escape('あむ編むコミュ')}" %>
            <%= link_to twitter_share_url, target: "_blank", class: "btn btn-secondary text-xl neon-icon-on flex", rel: "noopener noreferrer" do %>
            <svg width="18" viewBox="0 0 30 31" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6228 3.54931C26.0098 3.8933 26.0446 4.48587 25.7006 4.87285L17.5519 14.0402L26.0487 24.9644C26.2424 25.2139 26.3627 25.5132 26.395 25.8274C26.4273 26.1416 26.3708 26.4585 26.2319 26.7421C26.093 27.0258 25.8773 27.2647 25.6093 27.4319C25.3414 27.599 25.032 27.6875 24.7162 27.6875C24.7161 27.6875 24.7163 27.6875 24.7162 27.6875H21.6162L21.6148 27.6875C21.358 27.6871 21.1047 27.6282 20.8742 27.5151C20.6437 27.402 20.442 27.2378 20.2845 27.035L13.6187 18.465L5.70065 27.3729C5.35666 27.7598 4.76409 27.7947 4.37711 27.4507C3.99013 27.1067 3.95527 26.5142 4.29926 26.1272L12.448 16.9598L3.95119 6.03559C3.75749 5.78615 3.63722 5.48678 3.60492 5.17261C3.57262 4.85845 3.62912 4.54153 3.76801 4.25789C3.9069 3.97425 4.1226 3.73528 4.39058 3.56815C4.6585 3.40106 4.96794 3.31249 5.2837 3.31251C5.28376 3.31251 5.28365 3.31251 5.2837 3.31251H8.3851C8.64187 3.31289 8.89517 3.37187 9.1257 3.48494C9.35602 3.59791 9.55754 3.7619 9.71496 3.96443C9.71511 3.96462 9.71481 3.96424 9.71496 3.96443L16.3812 12.535L24.2993 3.62717C24.6432 3.24019 25.2358 3.20533 25.6228 3.54931ZM15.1143 13.9602L8.29088 5.18751H5.66695L13.7149 15.5346L15.1143 13.9602ZM14.8856 17.0398L21.709 25.8125H24.333L16.285 15.4654L14.8856 17.0398Z"/>
            </svg>
            <p>シェア</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="text-gray-500 bg-yellow-100/50 text-sm mt-8 p-5 rounded-full">
      <p> 写真は長押しでまたは右クリックでご自身のブラウザに保存できます。<br>
      ご自身のブラウザに保存した画像は、お相手に直接送ることができます。<p>
    </div>
  </div class="w-full max-w-lg mt-4">
    <%= render "comments/form", comment: @comment, board: @board %>
  </div>
  <div class="w-full max-w-lg mt-4">
    <table class="table-auto w-full shadow-md rounded">
      <tbody id="table-comment">
        <%= render @comments %>
      </tbody>
    </table>
  </div>
</div>