<!DOCTYPE html>
<html data-theme="pastel">
  <head>
    <title><%= page_title(yield(:title)) %></title>

    <%# Googleアナリティクス導入 %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- meta_tag -->
    <%= display_meta_tags %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="hero-overlay" style="background-color: rgba(254, 249, 195, 0.3);" class="text-gray-500">
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <%= render 'shared/flash_message' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
